version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "5173:5173"
    volumes:
      - .:/usr/src/app
      - ./.env.local:/usr/src/app/.env.local